* {
  box-sizing: border-box;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;

  padding-left: 50px;
  font-family: Raleway, sans-serif;
  background: #ffffff;
}

section img {
  width: 50px;
  height: 50px;
}

main img {
  width: 50px;
  height: 50px;
}
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 61.09px;
  height: 25px;
  margin-left: 1px;
}
nav ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
  margin: 40px;
}

ul {
  position: relative;
}

ul a {
  text-decoration: none;
  color: black;
}

ul a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 20px;
}

header {
  margin-top: 50px;
}

.title h2 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 22px;
}

.title p {
  font-weight: 400;
  margin-bottom: 10px;
}

.city_shearch {
  height: 55px;
  width: 90%;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}
.icon {
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0;
  height: 49px;
  width: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.formulaire {
  margin: 0;
}

form input {
  border: none;
  height: 49px;
  width: 230px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 0;
}

form button {
  border: none;
  width: 132px;
  height: 49px;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  font-family: raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  transition: ease-in-out 0.2s;
  margin-left: 0;
}

form button:hover {
  cursor: pointer;
  background-color: #0065fccd;
}

.filter {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.filter h3 {
  margin: 0;
  margin-right: 50px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.filter_icon {
  display: flex;
  margin: 0;
  width: 700px;
  justify-content: space-between;
}

.filter_icon button {
  margin: 0;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 40px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  padding: 0;
  transition: ease-in-out 0.2s;
}

.filter_icon button:hover {
  background-color: #deebff;
  cursor: pointer;
}

.filter_icon i {
  padding-right: 5px;
  color: #0065fc;
  font-size: 18px;
  padding-right: 10px;
}

.money {
  width: 150px;
}

.person {
  width: 120px;
}

.heart {
  width: 135px;
}

.dog {
  width: 180px;
}

.infos {
  width: 700px;
  margin: 0;
  padding-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.infos p {
  margin-left: 11px;
}

.infos i {
  margin: 0px;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 1000%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

main {
  display: flex;
  padding-bottom: 60px;
}

.card_left {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 30px 30px;
  margin: 0;
  width: 900px;
  height: 650px;
  margin-right: 1px;
}

.card_left h2 {
  margin-bottom: 39px;
}

.card_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 0;
}

.card {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
  padding: 2px;
  border-radius: 20px;
  width: 246px;
  height: 210px;
  background: #ffff;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-sizing: initial;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.card img {
  width: 246px;
  height: 124px;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}

.card h3 {
  padding-bottom: 5px;
  padding-left: 5px;
}

.card p {
  padding-bottom: 5px;
  padding-left: 5px;
}

.card i {
  color: #0065fc;
  font-size: 13px;
}

.afficher {
  text-align: left;
  padding-right: 55%;
  cursor: pointer;
  font-weight: 700;
}

.star {
  padding-left: 5px;
}

.title_right {
  display: flex;
  margin: 0;
  width: 100%;
  align-items: baseline;
}

.title_right h2 {
  margin: 0;
  padding-bottom: 26px;
}

.fa-chart-line {
  color: #0065fc;
  padding-left: 100px;
}

.card_right {
  display: block;
  width: 400px;
  background: #f2f2f2;
  border-radius: 20px;
  padding: 30px 30px;
}

.cards {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
  padding: 5px;
  margin-top: 10px;
  border-radius: 20px;
  width: 343px;
  height: 144px;
  background: #ffff;

  box-sizing: initial;
  display: flex;
  gap: 10px;
}

.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: ease-in-out 0.3s;
  cursor: pointer;
  transform: scale(1.03);
}

.container {
  padding-left: 15px;
}

.cards img {
  width: 137px;
  height: 144px;
  object-fit: cover;
  border: 1px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
  margin: 0;
}

.cards i {
  color: #0065fc;
}

.cards h3 {
  padding-top: 10px;
  padding-bottom: 7px;
}

.cards p {
  padding-bottom: 44px;
}

.card_container {
  padding-top: 20px;
}

.bleu p {
  padding-bottom: 60px;
}

.activite {
  width: 100%;
  height: 700px;
}

.activite h2 {
  padding-bottom: 50px;
}

.activite_card {
  display: flex;
}

.activite img {
  width: 300px;
  height: 445px;
  border-radius: 20px;
  padding-bottom: 15px;
}

.activite h3 {
  text-align: start;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

.cardd {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
  padding: 2px;
  border-radius: 20px;
  width: 300px;
  height: 490px;
  background: #ffff;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-sizing: initial;
}

.cardd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

footer {
  width: 97%;
  height: 250px;
  background: #f2f2f2;
  padding-top: 45px;
}

.footer_container {
  height: 90%;
  display: flex;
  justify-content: space-around;
}

.propos {
  margin: 0;
}

.propos h3 {
  font-weight: 700;
  padding-bottom: 25px;
}

.propos li {
  list-style: none;
  padding-bottom: 10px;
}

.propos ul {
  padding: 0;
}

.hebergements {
  margin: 0;
}

.assistance {
  margin: 0;
}

.hebergements h3 {
  font-weight: 700;
  padding-bottom: 25px;
}

.hebergements li {
  list-style: none;
  padding-bottom: 10px;
}

.hebergements ul {
  padding: 0;
}

.assistance h3 {
  font-weight: 700;
  padding-bottom: 30px;
}

.assistance li {
  list-style: none;
  padding-bottom: 10px;
}

.assistance ul {
  padding: 0;
}
