/* -----------------------------Réglages généraux----------------------------- */

* {
  box-sizing: border-box;
  margin: 0 auto;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  max-width: 1440px;
  font-family: Raleway, sans-serif;
  background: #ffffff;
  margin: 0 auto;
  padding-left: 20px;
}

section img {
  width: 50px;
  height: 50px;
}

main img {
  width: 50px;
  height: 50px;
}

/* -----------------------------Navbar----------------------------- */

nav img {
  height: 19px;
  width: 62px;
  margin: 0;
  margin-top: 44px;
  margin-right: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: 60%;
}

nav a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 48px;
  text-decoration: none;
  color: black;
  border-top: #ffffff 2px solid;
  margin: 0;
}

nav a:hover {
  color: #0065fc;
  border-top: #0065fc 2px solid;
}

/* -----------------------------Header----------------------------- */

header {
  margin-top: 50px;
}

.title h2 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 22px;
}

.title p {
  font-weight: 400;
  margin-bottom: 10px;
}

.city_shearch {
  height: 55px;
  width: 90%;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}

input {
  padding-left: 17px;
  font-weight: 700;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.icon {
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0;
  height: 49px;
  width: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.formulaire {
  margin: 0;
}

form input {
  border: none;
  height: 49px;
  width: 230px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 0;
}

input::placeholder {
  color: black;
}

form button {
  width: 132px;
  height: 49px;
  background: #0065fc;
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-family: raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  transition: ease-in-out 0.2s;
  margin-left: -4px;
}

.glass {
  display: none;
}

form button:hover {
  cursor: pointer;
  background-color: #0065fccd;
}

/* -----------------------------Filter----------------------------- */

.filter {
  width: 70%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.filter h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.filter_icon {
  display: flex;
  margin: 0;
  width: 100%;
}

.filter_icon button {
  margin: 0;
  margin-left: 3%;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 40px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  transition: ease-in-out 0.2s;
  font-family: raleway, sans-serif;
}

.filter_icon button:hover {
  background-color: #deebff;
  cursor: pointer;
}

.filter_icon i {
  padding-right: 5px;
  color: #0065fc;
  font-size: 16px;
  padding-right: 10px;
}

.money {
  width: 150px;
}

.person {
  width: 120px;
}

.heart {
  width: 135px;
}

.dog {
  width: 180px;
}

/* -----------------------------Infos----------------------------- */

.infos {
  width: 700px;
  margin: 0;
  padding-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.infos p {
  margin-left: 11px;
}

.infos i {
  margin: 0px;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 1000%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

/* -----------------------------Main / Left Part----------------------------- */

main {
  display: flex;
  padding-bottom: 60px;
  height: 100%;
}

.card_left {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 30px 30px;
  margin: 0;
  width: 100%;

  margin-right: 20px;
}

.card_left h2 {
  margin-bottom: 23px;
  font-size: 22px;
  font-weight: 700;
  padding-left: 15px;
}

.card_container_left {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-bottom: 30px;
}

.card_container_left i {
  font-size: 12px;
}

.ligne {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding: 2px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 30%;
  height: 199px;
  background: #ffff;
  cursor: pointer;
  box-sizing: initial;
}

.card img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}

.card h3 {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

.card p {
  padding-bottom: 10px;
  font-size: 14px;
}

/* .afficher {
  text-align: left;
  margin: 0;
  width: 16%;
} */

#afficher {
  padding-left: 15px;
  cursor: pointer;
  font-weight: 700;
  display: inline;
}

.text-card-left {
  padding-left: 11px;
  padding-top: 4px;
  height: 70px;
  width: 100%;
  position: relative;
}

.star {
  position: absolute;
  bottom: 1px;
}

.star i {
  width: 12px;
  height: 12px;
}

/* -----------------------------Main / Right Part----------------------------- */

.title_right {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.fa-chart-line {
  color: #0065fc;
  margin: 0;
}

.card_right {
  width: 40%;
  background: #f2f2f2;
  border-radius: 20px;
  padding: 30px 30px;
}

.card_right h2 {
  font-size: 22px;
  margin: 0;
}

.cards {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100%;
  height: 144px;
  background: #ffff;
  box-sizing: initial;
  display: flex;
  gap: 10px;
  position: relative;
}

.colorblue {
  color: #0065fc;
}

.colorgrey {
  color: #d6d1d1;
}

.cards:hover {
  cursor: pointer;
}

.card_container_right {
  padding-left: 5px;
  margin: 0;
}

.cards img {
  width: 40%;
  height: 147px;
  object-fit: cover;
  border: 1px solid #ffffff;
  border-radius: 15px 0px 0px 15px;
  margin: 0;
}

.cards h3 {
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 16px;
}

.cards p {
  font-size: 12px;
}

.card_container_right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.text-card-right {
  margin: 0;
}

.text-card-right i {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.star_right {
  position: absolute;
  bottom: 10px;
}

/* -----------------------------Activty Part----------------------------- */

.activite {
  width: 100%;
}

.activite h2 {
  padding-bottom: 18px;
  margin-top: 60px;
}

.activite_card {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  justify-content: space-between;
}

.activite img {
  width: 100%;
  height: 445px;
  border-radius: 20px 20px 0 0;
  padding-bottom: 15px;
  object-fit: cover;
}

.activite h3 {
  text-align: start;
  padding-left: 5px;
  font-weight: 700;
}

.activite_card {
  width: 100%;
}

.cardd {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  padding: 2px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: 24%;
  background: #ffff;
  cursor: pointer;
  box-sizing: initial;
  margin: 0;
}

/* ----------------------------- Footer ----------------------------- */

footer {
  width: 100%;

  background: #f2f2f2;
  padding-top: 45px;
  margin: 0;
}

.footer_container {
  display: flex;
  justify-content: space-around;

}

.propos {
  margin: 0;

}

.propos h3 {
  font-weight: 700;
  padding-bottom: 25px;
}

.propos li {
  list-style: none;
  padding-bottom: 10px;
}

.propos ul {
  padding: 0;
}

.hebergements {
  margin: 0;

}

.assistance {
  margin: 0;

}

.hebergements h3 {
  font-weight: 700;
  padding-bottom: 25px;
}

.hebergements li {
  list-style: none;
  padding-bottom: 10px;
}

.hebergements ul {
  padding: 0;
}



.assistance h3 {
  font-weight: 700;
  padding-bottom: 30px;
}

.assistance li {
  list-style: none;
  padding-bottom: 10px;
}

.assistance ul {
  padding: 0;
}

/* -----------------------------Responsive Tablette----------------------------- */

@media screen and (max-width: 992px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }

  main {
    display: block;
    padding: 0;
    padding-left: 0;
  }

  nav div {
    width: 100%;
    margin-left: 50%;
  }

  nav a {
    width: 90%;
  }

  form button {
    font-family: raleway, sans-serif;
  }

  .filter {
    width: 78%;
  }

  .card_left {
    width: 100%;
  }

  .card_left h2 {
    padding-top: 9px;
    margin-bottom: 30px;
  }

  .card {
    width: 32%;
    height: 199px;
    padding-bottom: 5px;
  }

  .card img {
    width: 100%;
    height: 124px;
  }

  .afficher {
    width: 868px;
    text-align: left;
    font-size: 18px;
  }

  .afficher h3 {
    font-size: 18px;
    cursor: pointer;
  }

  .card_right {
    height: 278px;
    width: 100%;
    margin-top: 53px;
  }

  .cards {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 2px;
    border-radius: 20px;
    width: 252px;
    height: 144px;
    background: #ffff;
    cursor: pointer;
    box-sizing: initial;
    position: relative;
  }

  .card_container_right {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
  }

  .card_container_right h3 {
    font-size: 16px;
    font-weight: 700;
  }

  .card_container_right p {
    font-size: 13px;
  }

  .title_right {
    width: 100%;
  }

  .title_right h2 {
    padding-right: 10%;
    font-size: 22px;
  }

  .star_right {
    position: absolute;
  }

  .title_right i {
    margin: 0;
    padding: 0;
  }

  .card_right img {
    width: 106px;
    height: 100%;
  }

  .activite {
    width: 100%;
    /* height: 400px; */
  }

  .activite_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #activ {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 34px;
    padding: 0;
  }

  .cardd {
    width: 182px;
    height: 267px;
    margin: 0;
  }

  .cardd img {
    height: 90%;
    padding-bottom: 10px;
  }

  .cardd h3 {
    font-size: 16px;
  }

  .calanques img {
    padding-bottom: 5px;
  }
}

/* -----------------------------Responsive Mobile----------------------------- */

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    /* min-width: 30px; */
    display: block;
    padding-left: 0;
    padding-right: 0;
    font-family: raleway, sans-serif;
  }

  /* -----------------------------Navbar----------------------------- */

  nav {
    display: block;
    width: 100%;
    height: 90px;
  }

  nav div {
    display: flex;
    padding: 0;
    width: 100%;
    margin: 0;
  }

  nav a {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 23px;
    border-bottom: #f2f2f2 3px solid;
  }

  nav a:hover {
    color: #0065fc;
    border-bottom: #0065fc 3px solid;
    border-top: none;
  }

  nav img {
    width: 61.09px;
    height: 19px;
    margin: 22px auto 38px;
    display: block;
  }

  .filter button {
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 11px;
  }

  /* -----------------------------Header----------------------------- */

  .city_shearch {
    width: 100%;
    height: 49px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .icon {
    width: 50px;
    height: 49px;
  }

  .formulaire {
    width: 100%;
    height: 49px;
  }

  form {
    height: 100%;
    height: 49px;
  }

  form input {
    width: 80%;
  }

  .shearch {
    display: none;
  }

  .glass {
    width: 15%;
    height: 49px;
    display: inline;
  }

  .glass i {
    width: 17px;
    height: 17px;
  }

  /* -----------------------------Filtre----------------------------- */

  .filter {
    display: block;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: baseline;
  }

  .filter h3 {
    margin-bottom: 15px;
    margin-left: 18px;
  }

  .filter button {
    width: 45%;
    height: 50px;
    font-size: 11px;
    padding-left: 10px;
    font-weight: 700;
    justify-content: left;
    display: flex;
  }

  .filter_icon {
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    padding-right: 3px;
  }

  .filter_icon i {
    margin: 0;
    text-align: center;
  }

  .money i {
    width: 21px;
    height: 14.78px;
    font-size: 16px;
  }

  .person i {
    width: 20.44px;
    font-size: 20px;
  }

  .heart i {
    font-size: 18px;
    padding-right: 5px;
  }

  .dog i {
    font-size: 19px;
    padding-right: 5px;
  }

  /* -----------------------------Info----------------------------- */

  .infos {
    width: 100%;
    display: flex;
    align-items: baseline;
    padding-left: 20px;
    padding-top: 35px;
  }

  .infos p {
    margin: 0;
    font-weight: 400;
    margin-left: 11px;
  }

  .infos i {
    font-size: 12px;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-left: 0;
  }

  /* -----------------------------Main / Right Part----------------------------- */

  .card_right {
    border-radius: 0;
    margin-top: 10px;
    padding: 28px 20px 30px 20px;
    margin-bottom: 26px;
    height: 100%;
  }

  .title_right {
    margin-top: px;
    margin-bottom: 24px;
    padding: 0;
  }

  .card_container_right {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .cards {
    width: 95%;
    height: 144px;
    margin: 0;
    margin-bottom: 11px;
  }

  .cards img {
    width: 137px;
  }

  .cards p {
    font-size: 14px;
  }

  .cards strong {
    font-size: 14px;
  }

  .text-card-right {
    padding-left: 5px;
  }

  /* -----------------------------Main / left Part----------------------------- */

  .card_left {
    width: 100%;
    padding-top: 0;
    background: none;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #heberg {
    padding: 0;
    padding-left: 20px;
    margin-bottom: 19px;
  }

  .ligne {
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 199px;
    margin: 0 0 12px;
  }

  .card img {
    width: 100%;
    height: 124px;
  }

  #afficher {
    display: none;
  }

  /* -----------------------------Activity----------------------------- */

  .activite {
    padding: 0 30px;
  }

  #activ {
    margin: 0;
    width: 50%;
  }

  .activite_card {
    flex-direction: column;
    width: 100%;
  }

  .cardd {
    width: 100%;
    height: 190px;
    margin-bottom: 24px;
    padding-bottom: 0px;
  }

  .cardd img {
    height: 80%;
  }

  .cardd h3 {
    padding-left: 19px;
  }

  /* ----------------------------- Footer ----------------------------- */
  footer {
    padding: 0 30px;
    margin-top: 57px;
  }

  .footer_container {
    flex-direction: column;
    padding-top: 45px;
  }

  .footer_container li {
    padding-bottom: 12px;
    font-weight: 400;
  }

  .footer_container h3 {
    padding-bottom: 20px;
  }

  .footer_container ul {
    margin-bottom: 20px;
  }
}