/* -----------------------------Réglages généraux----------------------------- */

* {
  box-sizing: border-box;
  margin: 0 auto;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  max-width: 1400px;
  padding-left: 50px;
  font-family: Raleway, sans-serif;
  background: #ffffff;
  margin: 0 auto;
}

section img {
  width: 50px;
  height: 50px;
}

main img {
  width: 50px;
  height: 50px;
}

/* -----------------------------Navbar----------------------------- */

nav img {
  height: 19px;
  width: 62px;
  margin: 0;
  margin-top: 44px;
  margin-right: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: 60%;
}

nav a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 48px;
  text-decoration: none;
  color: black;
  margin: 0;
}

nav a:hover {
  color: #0065fc;
  border-top: #0065fc 2px solid;
}

/* -----------------------------Header----------------------------- */

header {
  margin-top: 50px;
}

.title h2 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 22px;
}

.title p {
  font-weight: 400;
  margin-bottom: 10px;
}

.city_shearch {
  height: 55px;
  width: 90%;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}
input {
  padding-left: 17px;
  font-weight: 700;
  font-size: 18px;
}

input:focus {
  outline: none;
}

.icon {
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  padding: 0;
  height: 49px;
  width: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.formulaire {
  margin: 0;
}

form input {
  border: none;
  height: 49px;
  width: 230px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-right: 0;
}

input::placeholder {
  color: black;
}

form button {
  width: 132px;
  height: 49px;
  background: #0065fc;
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-family: raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  transition: ease-in-out 0.2s;
  margin-left: -4px;
}

form button:hover {
  cursor: pointer;
  background-color: #0065fccd;
}

/* -----------------------------Filter----------------------------- */

.filter {
  width: 70%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.filter h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.filter_icon {
  display: flex;
  margin: 0;
  width: 100%;
}

.filter_icon button {
  margin: 0;
  margin-left: 3%;
  background: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 40px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  transition: ease-in-out 0.2s;
}

.filter_icon button:hover {
  background-color: #deebff;
  cursor: pointer;
}

.filter_icon i {
  padding-right: 5px;
  color: #0065fc;
  font-size: 16px;
  padding-right: 10px;
}

.money {
  width: 150px;
}

.person {
  width: 120px;
}

.heart {
  width: 135px;
}

.dog {
  width: 180px;
}

/* -----------------------------Infos----------------------------- */

.infos {
  width: 700px;
  margin: 0;
  padding-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.infos p {
  margin-left: 11px;
}

.infos i {
  margin: 0px;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 1000%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

/* -----------------------------Main / Left Part----------------------------- */

main {
  display: flex;
  padding-bottom: 60px;
  height: 100%;
}

.card_left {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 30px 30px;
  margin: 0;
  width: 100%;
  height: 626px;
  margin-right: 20px;
}

.card_left h2 {
  margin-bottom: 39px;
  font-size: 22px;
  font-weight: 700;
  padding-left: 15px;
}

.card_container_left {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-bottom: 30px;
}

.card_container_left i {
  font-size: 12px;
}

.ligne {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding: 2px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: 30%;
  height: 199px;
  background: #ffff;
  cursor: pointer;
  box-sizing: initial;
}

.card img {
  width: 100%;
  height: 124px;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
}

.card h3 {
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

.card p {
  padding-bottom: 10px;
  font-size: 14px;
}

.afficher {
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
  font-weight: 700;
  width: 207px;
  margin: 0;
}

.text-card-left {
  padding-left: 11px;
  padding-top: 4px;
  height: 70px;
  width: 100%;
  position: relative;
}

.star {
  position: absolute;
  bottom: 1px;
}

.star i {
  width: 12px;
  height: 12px;
}

/* -----------------------------Main / Right Part----------------------------- */

.title_right {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
}

.fa-chart-line {
  color: #0065fc;
  margin: 0;
}

.card_right {
  width: 40%;
  height: 626px;
  background: #f2f2f2;
  border-radius: 20px;
  padding: 30px 30px;
}

.card_right h2 {
  font-size: 22px;
  margin: 0;
}

.cards {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100%;
  height: 144px;
  background: #ffff;
  box-sizing: initial;
  display: flex;
  gap: 10px;
  position: relative;
}

.colorblue {
  color: #0065fc;
}
.colorgrey {
  color: #d6d1d1;
}

.cards:hover {
  cursor: pointer;
}

.card_container_right {
  padding-left: 5px;
  margin: 0;
}

.cards img {
  width: 40%;
  height: 147px;
  object-fit: cover;
  border: 1px solid #ffffff;
  border-radius: 15px 0px 0px 15px;
  margin: 0;
}

.cards h3 {
  padding-top: 10px;
  padding-bottom: 7px;
  font-size: 16px;
}

.cards p {
  font-size: 12px;
}

.card_container_right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.text-card-right {
  margin: 0;
}

.text-card-right i {
  font-size: 12px;
  width: 12px;
  height: 12px;
}

.star_right {
  position: absolute;
  bottom: 10px;
}

/* -----------------------------Activty Part----------------------------- */

.activite {
  width: 100%;
  height: 700px;
}

.activite h2 {
  padding-bottom: 18px;
}

.activite_card {
  display: flex;
  width: 100%;
}

.activite img {
  width: 100%;
  height: 445px;
  border-radius: 20px;
  padding-bottom: 15px;
}

.activite h3 {
  text-align: start;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: 700;
}

.activite_card {
  width: 100%;
}

.cardd {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
  padding: 2px;
  border-radius: 20px;
  width: 21.5%;
  gap: 100px;
  column-gap: 300px;
  height: 490px;
  background: #ffff;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-sizing: initial;
}

.cardd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
}

/* ----------------------------- Footer ----------------------------- */

footer {
  width: 97%;
  height: 250px;
  background: #f2f2f2;
  padding-top: 45px;
}

.footer_container {
  height: 90%;
  display: flex;
  justify-content: space-around;
}

.propos {
  margin: 0;
}

.propos h3 {
  font-weight: 700;
  padding-bottom: 25px;
}

.propos li {
  list-style: none;
  padding-bottom: 10px;
}

.propos ul {
  padding: 0;
}

.hebergements {
  margin: 0;
}

.assistance {
  margin: 0;
}

.hebergements h3 {
  font-weight: 700;
  padding-bottom: 25px;
}

.hebergements li {
  list-style: none;
  padding-bottom: 10px;
}

.hebergements ul {
  padding: 0;
}

.assistance h3 {
  font-weight: 700;
  padding-bottom: 30px;
}

.assistance li {
  list-style: none;
  padding-bottom: 10px;
}

.assistance ul {
  padding: 0;
}

/* -----------------------------Responsive Tablette----------------------------- */

@media screen and (max-width: 992px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }

  main {
    display: block;
    /* padding-right: 22px;
    padding-left: 22px; */
  }

  .card_left {
    width: 100%;
    height: 100%;
  }
  .card_left h2 {
    padding-top: 42px;
    padding-left: 4%;
  }

  .card {
    width: 226px;
    height: 179px;
    padding-bottom: 5px;
  }

  .card img {
    width: 226px;
    height: 104px;
  }

  .container {
    padding-left: 5px;
  }

  .container p {
    padding-left: 5px;
    padding-bottom: 500%;
  }

  .afficher {
    width: 868px;
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
  }

  .afficher h3 {
    font-size: 18px;
  }
  .cards {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 2px;
    border-radius: 20px;
    width: 252px;
    height: 144px;
    background: #ffff;
    cursor: pointer;
    box-sizing: initial;
    margin: 0;
    position: relative;
  }

  .card_items {
    padding-left: 10px;
    width: 100%;
    height: 100%;
  }

  .card_items h3 {
    font-size: 16px;
  }

  .card_items p {
    font-size: 11px;
  }

  .card_items i {
    position: absolute;
    bottom: 300px;
  }

  .card_right {
    width: 100%;
    height: 300px;
    margin: 0;
    padding-top: 20px;
    margin-top: 30px;
  }

  .title_right {
    width: 100%;
  }

  .title_right h2 {
    padding-right: 70%;
    font-size: 18px;
  }

  .star_right {
    position: absolute;
  }

  .title_right i {
    margin: 0;
    padding: 0;
  }

  .card_right p {
    padding: 0;
    padding-bottom: 10%;
  }

  .card_right img {
    width: 106px;
    height: 144px;
  }

  .card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    gap: 1%;
    height: 250px;
  }

  .card_right p {
    margin: 0;
    font-size: 12px;
    margin-bottom: 15%;
    padding-bottom: 0;
  }

  strong {
    font-size: 10px;
  }

  .card_right h3 {
    margin: 0;
    font-size: 14px;
  }

  .card_right h2 {
    padding-bottom: 0;
  }

  .card_right i {
    font-size: 11px;
  }

  .activite {
    width: 100%;
    height: 450px;
  }

  #activ {
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
  }

  .cardd {
    width: 182px;
    height: 250px;
  }

  .cardd h3 {
    padding-left: 5px;
    font-size: 16px;
  }
}
